.input {
    height: 30px;
    font-size: 15px;
    padding: 5px;
    outline: none; /*elimina el recuadro de todo el input cuando hago click en el input */
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}
 
::placeholder {
    font-size: 15px;
    margin-left: 15px;
}

.btn {
    background-color: green;
    color: aliceblue;
    height: 30px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.cantidad {
    height: 27px;
    border: none;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}

.input_img {
    height: 27px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid;
    background-color: antiquewhite;
}

.btn_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_close {
    background-color: dimgray;
    color: aliceblue;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.btn_modify {
    background-color: green;
    color: aliceblue;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 20px;
}