.input {
    height: 30px;
    font-size: 15px;
    padding: 5px;
    /* outline: none; elimina el recuadro de todo el input cuando hago click en el input */
    margin-bottom: 15px;
    border: none;
    /* border-bottom: 1px solid; */
    background-color: aliceblue;
    border-radius: 3px;
}

.input_img {
    height: 30px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    /* border-bottom: 1px solid; */
    background-color: aliceblue;
    padding: 5px;
    border-radius: 3px;
}

.cantidad {
    height: 30px;
    font-size: 15px;
    border: none;
    /* border-bottom: 1px solid; */
    background-color: aliceblue;
    padding: 5px;
    border-radius: 3px;
}

::placeholder {
    font-size: 15px;
    margin-left: 15px;
}

.btn {
    background-color: green;
    color: aliceblue;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
}



.btn_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_close {
    background-color: grey;
    color: aliceblue;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}

.btn_modify {
    background-color: green;
    color: aliceblue;
    height: 35px;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
}

.sorprendeme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorprendeme input {
    width: 220px;
}

.btn_sorprendeme {
    height: 30px;
    padding: 5px;
    border: none;
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.labels {
    margin-bottom: 5px;
}

.asterisco {
    color: red;
    font-size: 20px;
}

:focus-visible {
    outline: 3px solid #9999FF;
}