@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin-bottom: 15px;
    font-size: 35px;
}

.box ul {
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    list-style: none;
    /* text-align: center; */
}

.box {
    background-color: white;
    font-size: 30px;
    padding: 40px 40px 20px;
    margin-bottom: 70px;
    margin-left: 150px;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.trash {
    border: none;
    background-color: white;
    color: peru;
    font-size: 19px;
    cursor: pointer;
    margin-right: 10px;
}



.emptyList {
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.trashAll_container{
    text-align: center;
}

.trashAll {
    height: 33px;
    width: 100%;
    background-color: indianred;
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

.nombre_regalo {
    display: flex;
    margin-left: 8px;
    font-size: 19px;
}

.span_buttons {
    display: flex;
    align-items: center;
}

.img_name_q {
    display: flex;
    flex-direction: row;
}

.rounded_circle {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}

.destinatario {
    margin-left: 8px;
    font-size: 16px;
    color: grey;
}

.edit {
    border: none;
    background-color: antiquewhite;
    color: #D00000;
    font-size: 25px;
    cursor: pointer;
    margin-right: 2px;
}

.loading {
    font-size: 30px;
    padding: 40px 40px 20px;
    margin-bottom: 70px;
}