@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.box ul {
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    list-style: none;
    /* text-align: center; */
}

.box {
    background-color: antiquewhite;
    font-size: 30px;
    padding: 40px 40px 20px;
    margin-bottom: 70px;
    border-radius: 10px;
    width: 400px;
}

.li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.trash {
    border: none;
    background-color: antiquewhite;
    color: #D00000;
    font-size: 25px;
    cursor: pointer;
    margin-right: 2px;
}

.emptyList {
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    text-align: center;
    color: gray;
    margin-top: 10px;
}

.trashAll_container{
    text-align: center;
}

.trashAll {
    height: 33px;
    width: 100%;
    background-color: dimgrey;
    color: aliceblue;
    border-radius: 5px;
    font-family: 'Tiro Tamil', serif;
    font-size: 17px;
    cursor: pointer;
}

.nombre_regalo {
    display: flex;
    margin-left: 8px;
    font-size: 19px;
}

.span_trash {
    display: flex;
    align-items: center;
}

.img_name_q {
    display: flex;
    flex-direction: row;
}

.destinatario {
    margin-left: 8px;
    font-size: 16px;
    color: grey;
}