* {
  margin: 0;
  padding: 0;
}

.App {
    background-image: url('https://i.pinimg.com/564x/08/0d/37/080d37c1ebd24b6b49997d30cfe4c203.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
